@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>Engineer Details</h2>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<h4>Machines this engineer can repair:</h4>

@if (Model.JoinEntities.Count == 0)
{
  <p>This engineer cannot repair any machines. Please add or update engineers licensing.</p>
}
else
{
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Machine.Name
        @using (Html.BeginForm("DeleteMachine","Engineers"))
        {
          @Html.Hidden("joinId", @join.EngineerMachineId)
          <input type="submit" value="Delete machine" class="btn btn-link btn-sm" />
        }
      </li>
    }
  </ul>
}

<h4>Engineer options:</h4>
<button>
  @Html.ActionLink("Edit engineer details", "Edit", new { id = Model.EngineerId })
</button>
<button>
  @Html.ActionLink("Add machine", "AddMachine", new { id = Model.EngineerId })
</button>
<button>
  @Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId })
</button>

<br>
<br>

<button>
  @Html.ActionLink("Back to all engineers", "Index")
</button>